
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Currency Rates</h1>
    <table width="100%">
        <tr>
            <h6> Please, select an action </h6>
            <p></p>
            <td><a href=@Url.Content("~/Home/Index/GetCurrencyInformation")'  class="btn btn-primary">Download Currency Rates</a></td>
            <p></p>

        </tr>
    </table>
